# Dependencies
node_modules/
npm-debug.log*

# Environment variables
.env
.env.local

# Runtime data
pids
*.pid
*.seed

# Mac system files
.DS_Store

# IDE files
.vscode/
.idea/

# Logs
logs
*.log

# Temporary files
*.tmp
*.temp

# Glitch specific files
.config/
.glitchdotcom.json
.node-gyp